
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 80px;
    margin-right: 40px;
   
}

.menu li a:hover{
    color: rgba(233, 17, 17, 0.384);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo{
    cursor: pointer;
    margin-left: 20px;
    border-top-left-radius: inset 60px;
    width: 80px;
}

.logo{
    transition-timing-function: ease-in-out;
}

.logo:hover{
    transform: rotate(1080deg);
}
